"http_interactions":["request":"method":"get","uri":"https://www.car2go.com/api/v2.1/vehicles?format=json\u0026loc=seattle\u0026oauth_consumer_key=SeaIntTripPlan","body":"encoding":"US-ASCII","string":""},"headers":"Accept-Encoding":["gzip;q=1.0,deflate;q=0.6,identity;q=0.3"],"Accept":["*/*"],"User-Agent":["Ruby"]}},"response":"status":"code":200,"message":"OK"},"headers":"Date":["Fri, 06 Feb 2015 17:58:37 GMT"],"X-Powered-By":["Servlet/3.0"],"Vary":["Accept-Encoding,User-Agent"],"Transfer-Encoding":["chunked"],"Content-Type":["application/json; charset=utf-8"],"Content-Language":["en-US"]},"body":"encoding":"UTF-8","string":"\"placemarks\":[\"address\":\"8th Ave 2348, 98121 Seattle\",\"coordinates\":[-122.34085,47.61829,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":100,\"interior\":\"GOOD\",\"name\":\"AKN 2753\",\"smartPhoneRequired\":false,\"vin\":\"WMEEJ3BA3CK563287\"},\"address\":\"SW Graham St 3581, 98126 Seattle\",\"coordinates\":[-122.37746,47.54651,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":100,\"interior\":\"GOOD\",\"name\":\"ALU 5944\",\"smartPhoneRequired\":false,\"vin\":\"WMEEJ3BA7DK655665\"},\"address\":\"E Laurelhurst Dr NE 3133, 98105 Seattle\",\"coordinates\":[-122.27712,47.65094,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":87,\"interior\":\"UNACCEPTABLE\",\"name\":\"AKN 2649\",\"smartPhoneRequired\":[...]
