{"http_interactions":[{"request":{"method":"get","uri":"https://www.car2go.com/api/v2.1/vehicles?format=json\u0026loc=seattle\u0026oauth_consumer_key=SeaIntTripPlan","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Content-Language":["en-US"]},"body":{"encoding":"UTF-8","string":"{\"placemarks\":[{\"address\":\"Occidental Ave S 755, 98104 Seattle\",\"coordinates\":[-122.33325,47.59569,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":100,\"interior\":\"GOOD\",\"name\":\"AKN 2753\",\"smartPhoneRequired\":false,\"vin\":\"WMEEJ3BA3CK563287\"},{\"address\":\"SW Graham St 3527, 98126 Seattle\",\"coordinates\":[-122.37674,47.54651,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":100,\"interior\":\"GOOD\",\"name\":\"ALU 5944\",\"smartPhoneRequired\":false,\"vin\":\"WMEEJ3BA7DK655665\"},{\"address\":\"NE 70th St 813, 98115 Seattle\",\"coordinates\":[-122.3195,47.67947,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":63,\"interior\":\"GOOD\",\"name\":\"AKN 2613\",\"smartPhoneRequired\":false,\"vin\":\"W[...]
{"request":{"method":"get","uri":"http://localhost:8080/otp/routers/default/plan?fromPlace=47.687161,-122.352952\u0026mode=WALK\u0026toPlace=47.68547,-122.35456","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","string":"{\"requestParameters\":{\"fromPlace\":\"47.687161,-122.352952\",\"toPlace\":\"47.68547,-122.35456\",\"mode\":\"WALK\"},\"plan\":{\"date\":1423264011000,\"from\":{\"name\":\"North 80th Street\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35295281258813,\"lat\":47.68694029349177,\"arrival\":null,\"departure\":null,\"orig\":null,\"zoneId\":null,\"stopIndex\":null},\"to\":{\"name\":\"North 78th Street\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35456003344726,\"lat\":47.6854720017951,\"arrival\":null,\"departure\":null,\"orig\":null,\"zoneId\":null,\"stopIndex\":null},\"itineraries\":[{\"duration\":274.0,\"startTime\":1423264011000,\"endTime\":1423264285000,\"walkTime\":274,\"transitTime\":0,\"waitingTime\":0,\"walkDistance\":348.77083571142316,\"walkLimitExceeded\":false,\"elevationLost\":0.0,\"elevationGained\":0.0,\"transfers\":0,\"fare\":null,\"legs\":[{\"startTime\":1423264011000,\"endTime\":1423264285000,\"departureDelay\":0,\"arrivalDelay\":0,\"realTime\":false,\"isNonExactFrequency\":null,\"headway\":null,\"distance\":348.7031665406743,\"from\":{\"name\":\"North 80th Street\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35295281258813,\"lat\":47.68694029349177,\"arrival\":null,\"departure\":1423264011000,\"orig\":\"\",\"zoneId\":null,\"stopIndex\":null},\"to\":{\"name\":\"North 78th Street\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35456003344726,\"lat\":47.6854720017951,\"arrival\":1423264285000,\"departure\":null,\"orig\":\"\",\"zoneId\":null,\"stopIndex\":null},\"legGeometry\":{\"points\":\"kz`bH~`xiV@gAfAGfAIfAGhAG@jL\",\"levels\":null,\"length\":7},\"transitLeg\":false,\"mode\":\"WALK\",\"route\":\"\",\"agencyName\":null,\"agencyUrl\":null,\"agencyTimeZoneOffset\":-28800000,\"routeColor\":null,\"routeType\":null,\"routeId\":null,\"routeTextColor\":null,\"interlineWithPreviousLeg\":false,\"tripShortName\":null,\"tripBlockId\":null,\"headsign\":null,\"agencyId\":null,\"tripId\":null,\"serviceDate\":null,\"intermediateStops\":null,\"steps\":[{\"distance\":26.626747062790834,\"relativeDirection\":\"DEPART\",\"streetName\":\"North 80th Street\",\"absoluteDirection\":\"EAST\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":false,\"lon\":-122.35295281258813,\"lat\":47.68694029349177,\"alerts\":null,\"elevation\":[]},{\"distance\":161.93816525981376,\"relativeDirection\":\"RIGHT\",\"streetName\":\"Dayton Avenue North\",\"absoluteDirection\":\"SOUTH\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":false,\"lon\":-122.35259710000001,\"lat\":47.6869397,\"alerts\":null,\"elevation\":[]},{\"distance\":160.13825421806973,\"relativeDirection\":\"RIGHT\",\"streetName\":\"North 78th Street\",\"absoluteDirection\":\"WEST\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":false,\"lon\":-122.35242090000001,\"lat\":47.6854882,\"alerts\":null,\"elevation\":[]}],\"notes\":null,\"alerts\":null,\"routeShortName\":null,\"routeLongName\":null,\"boardRule\":null,\"alightRule\":null,\"rentedBike\":false,\"duration\":274.0}],\"tooSloped\":false}]},\"error\":null,\"debug\":{\"precalculationTime\":0,\"pathCalculationTime\":5,\"pathTimes\":[2],\"renderingTime\":0,\"totalTime\":5,\"timedOut\":false}}"},"http_version":null},"recorded_at":"Fri, 06 Feb 2015 23:06:51 GMT"},{"request":{"method":"get","uri":"http://localhost:8080/otp/routers/default/plan?fromPlace=47.68547,-122.35456\u0026mode=CAR\u0026toPlace=47.6069542,-122.3052976","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","string":"{\"requestParameters\":{\"fromPlace\":\"47.68547,-122.35456\",\"toPlace\":\"47.6069542,-122.3052976\",\"mode\":\"CAR\"},\"plan\":{\"date\":1423264[...]
