{"http_interactions":[{"request":{"method":"get","uri":"https://www.car2go.com/api/v2.1/vehicles?format=json\u0026loc=seattle\u0026oauth_consumer_key=SeaIntTripPlan","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Content-Language":["en-US"]},"body":{"encoding":"UTF-8","string":"{\"placemarks\":[{\"address\":\"Broadway E 675, 98102 Seattle\",\"coordinates\":[-122.32105,47.62488,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":78,\"interior\":\"GOOD\",\"name\":\"ALU 5933\",\"smartPhoneRequired\":false,\"vin\":\"WMEEJ3BA9DK656123\"},{\"address\":\"4th Ave NE 7487, 98115 Seattle\",\"coordinates\":[-122.32409,47.683,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":66,\"interior\":\"GOOD\",\"name\":\"AKN 2613\",\"smartPhoneRequired\":false,\"vin\":\"WMEEJ3BA4CK562830\"},{\"address\":\"E Laurelhurst Dr NE 3133, 98105 Seattle\",\"coordinates\":[-122.27712,47.65094,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":87,\"interior\":\"UNACCEPTABLE\",\"name\":\"AKN 2649\",\"smartPhoneRequired\":fal[...]
{"request":{"method":"get","uri":"http://localhost:8080/otp/routers/default/plan?fromPlace=47.687161,-122.352952\u0026mode=WALK\u0026toPlace=47.69168,-122.35419","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","string":"{\"requestParameters\":{\"fromPlace\":\"47.687161,-122.352952\",\"toPlace\":\"47.69168,-122.35419\",\"mode\":\"WALK\"},\"plan\":{\"date\":1423252199000,\"from\":{\"name\":\"North 80th Street\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35295281258813,\"lat\":47.68694029349177,\"arrival\":null,\"departure\":null,\"orig\":null,\"zoneId\":null,\"stopIndex\":null},\"to\":{\"name\":\"parking aisle\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35419,\"lat\":47.69168,\"arrival\":null,\"departure\":null,\"orig\":null,\"zoneId\":null,\"stopIndex\":null},\"itineraries\":[{\"duration\":520.0,\"startTime\":1423252199000,\"endTime\":1423252719000,\"walkTime\":520,\"transitTime\":0,\"waitingTime\":0,\"walkDistance\":663.3597031671974,\"walkLimitExceeded\":false,\"elevationLost\":0.0,\"elevationGained\":0.0,\"transfers\":0,\"fare\":null,\"legs\":[{\"startTime\":1423252199000,\"endTime\":1423252719000,\"departureDelay\":0,\"arrivalDelay\":0,\"realTime\":false,\"isNonExactFrequency\":null,\"headway\":null,\"distance\":663.2239888858622,\"from\":{\"name\":\"North 80th Street\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35295281258813,\"lat\":47.68694029349177,\"arrival\":null,\"departure\":1423252199000,\"orig\":\"\",\"zoneId\":null,\"stopIndex\":null},\"to\":{\"name\":\"parking aisle\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35419,\"lat\":47.69168,\"arrival\":1423252719000,\"departure\":null,\"orig\":\"\",\"zoneId\":null,\"stopIndex\":null},\"legGeometry\":{\"points\":\"kz`bH~`xiV@gAqC@oC@qCAoC@wCA@bG_B@mB??p@\",\"levels\":null,\"length\":11},\"transitLeg\":false,\"mode\":\"WALK\",\"route\":\"\",\"agencyName\":null,\"agencyUrl\":null,\"agencyTimeZoneOffset\":-28800000,\"routeColor\":null,\"routeType\":null,\"routeId\":null,\"routeTextColor\":null,\"interlineWithPreviousLeg\":false,\"tripShortName\":null,\"tripBlockId\":null,\"headsign\":null,\"agencyId\":null,\"tripId\":null,\"serviceDate\":null,\"intermediateStops\":null,\"steps\":[{\"distance\":26.626747062790834,\"relativeDirection\":\"DEPART\",\"streetName\":\"North 80th Street\",\"absoluteDirection\":\"EAST\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":false,\"lon\":-122.35295281258813,\"lat\":47.68694029349177,\"alerts\":null,\"elevation\":[]},{\"distance\":405.9138948424283,\"relativeDirection\":\"LEFT\",\"streetName\":\"Dayton Avenue North\",\"absoluteDirection\":\"NORTH\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":false,\"lon\":-122.35259710000001,\"lat\":47.6869397,\"alerts\":null,\"elevation\":[]},{\"distance\":97.40914873273324,\"relativeDirection\":\"LEFT\",\"streetName\":\"North 85th Street\",\"absoluteDirection\":\"WEST\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":false,\"lon\":-122.35260410000001,\"lat\":47.6905901,\"alerts\":null,\"elevation\":[]},{\"distance\":114.6462284208373,\"relativeDirection\":\"RIGHT\",\"streetName\":\"Phinney Avenue North\",\"absoluteDirection\":\"NORTH\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":false,\"lon\":-122.35390550000001,\"lat\":47.6905876,\"alerts\":null,\"elevation\":[]},{\"distance\":18.627969827072416,\"relativeDirection\":\"LEFT\",\"streetName\":\"parking aisle\",\"absoluteDirection\":\"WEST\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":true,\"lon\":-122.35391840000001,\"lat\":47.691618600000005,\"alerts\":null,\"elevation\":[]}],\"notes\":null,\"alerts\":null,\"routeShortName\":null,\"routeLongName\":null,\"boardRule\":null,\"alightRule\":null,\"rentedBike\":false,\"duration\":520.0}],\"tooSloped\":false}]},\"error\":null,\"debug\":{\"precalculationTime\":0,\"pathCalculationTime\":9,\"pathTimes\":[2],\"renderingTime\":1,\"totalTime\":10,\"timedOut\":false}}"},"http_version":null},"recorded_at":"Fri, 06 Feb 2015 19:49:59 GMT"},{"request":{"method":"get","uri":"http://localhost:8080/otp/routers/default/plan?fromPlace=47.69168,-122.35419\u0026mode=CAR\u0026toPlace=47.6069542,-122.3052976","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","string":"{\"requestParameters\":{\"fromPlace\":\"47.69168,-122.35419\",\"toPlace\":\"47.6069542,-122.3052976\",\"mode\":\"CAR\"},\"plan\":{\"date\":1423252[...]
