{"http_interactions":[{"request":{"method":"get","uri":"https://www.car2go.com/api/v2.1/vehicles?format=json\u0026loc=seattle\u0026oauth_consumer_key=SeaIntTripPlan","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Content-Language":["en-US"]},"body":{"encoding":"UTF-8","string":"{\"placemarks\":[{\"address\":\"Railroad Way S, 98134 Seattle\",\"coordinates\":[-122.33394,47.59576,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":21,\"interior\":\"GOOD\",\"name\":\"AKN 2753\",\"smartPhoneRequired\":false,\"vin\":\"WMEEJ3BA3CK563287\"},{\"address\":\"S Main St 232, 98104 Seattle\",\"coordinates\":[-122.3312,47.60013,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":100,\"interior\":\"GOOD\",\"name\":\"ALU 5933\",\"smartPhoneRequired\":false,\"vin\":\"WMEEJ3BA9DK656123\"},{\"address\":\"17th Ave SW 6021, 98106 Seattle\",\"coordinates\":[-122.35602,47.54828,0],\"engineType\":\"CE\",\"exterior\":\"GOOD\",\"fuel\":100,\"interior\":\"GOOD\",\"name\":\"ALU 5944\",\"smartPhoneRequired\":false,\"vin\":\"WM[...]
{"request":{"method":"get","uri":"http://localhost:8080/otp/routers/default/plan?fromPlace=47.687161,-122.352952\u0026mode=WALK\u0026toPlace=47.69969,-122.3558","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","string":"{\"requestParameters\":{\"fromPlace\":\"47.687161,-122.352952\",\"toPlace\":\"47.69969,-122.3558\",\"mode\":\"WALK\"},\"plan\":{\"date\":1423163095000,\"from\":{\"name\":\"North 80th Street\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35295281258813,\"lat\":47.68694029349177,\"arrival\":null,\"departure\":null,\"orig\":null,\"zoneId\":null,\"stopIndex\":null},\"to\":{\"name\":\"North 97th Street\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35580034018291,\"lat\":47.699644208364035,\"arrival\":null,\"departure\":null,\"orig\":null,\"zoneId\":null,\"stopIndex\":null},\"itineraries\":[{\"duration\":1237.0,\"startTime\":1423163095000,\"endTime\":1423164332000,\"walkTime\":1237,\"transitTime\":0,\"waitingTime\":0,\"walkDistance\":1618.724312271187,\"walkLimitExceeded\":false,\"elevationLost\":0.0,\"elevationGained\":0.0,\"transfers\":0,\"fare\":null,\"legs\":[{\"startTime\":1423163095000,\"endTime\":1423164332000,\"departureDelay\":0,\"arrivalDelay\":0,\"realTime\":false,\"isNonExactFrequency\":null,\"headway\":null,\"distance\":1618.6573949801132,\"from\":{\"name\":\"North 80th Street\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35295281258813,\"lat\":47.68694029349177,\"arrival\":null,\"departure\":1423163095000,\"orig\":\"\",\"zoneId\":null,\"stopIndex\":null},\"to\":{\"name\":\"North 97th Street\",\"stopId\":null,\"stopCode\":null,\"platformCode\":null,\"lon\":-122.35580034018291,\"lat\":47.699644208364035,\"arrival\":1423164332000,\"departure\":null,\"orig\":\"\",\"zoneId\":null,\"stopIndex\":null},\"legGeometry\":{\"points\":\"kz`bH~`xiV?rMmAAy@?uCBqC?sC?_BAw@?gA?}A@O?uD?Y?y@@i@?_A@iDBo@?}B?wD?u@?uHBsH@u@@?rA\",\"levels\":null,\"length\":26},\"transitLeg\":false,\"mode\":\"WALK\",\"route\":\"\",\"agencyName\":null,\"agencyUrl\":null,\"agencyTimeZoneOffset\":-28800000,\"routeColor\":null,\"routeType\":null,\"routeId\":null,\"routeTextColor\":null,\"interlineWithPreviousLeg\":false,\"tripShortName\":null,\"tripBlockId\":null,\"headsign\":null,\"agencyId\":null,\"tripId\":null,\"serviceDate\":null,\"intermediateStops\":null,\"steps\":[{\"distance\":175.26377326694046,\"relativeDirection\":\"DEPART\",\"streetName\":\"North 80th Street\",\"absoluteDirection\":\"WEST\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":false,\"lon\":-122.35295281258813,\"lat\":47.68694029349177,\"alerts\":null,\"elevation\":[]},{\"distance\":1412.0712710099497,\"relativeDirection\":\"RIGHT\",\"streetName\":\"Greenwood Avenue North\",\"absoluteDirection\":\"NORTH\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":false,\"lon\":-122.3552942,\"lat\":47.686944200000006,\"alerts\":null,\"elevation\":[]},{\"distance\":31.32235070322323,\"relativeDirection\":\"LEFT\",\"streetName\":\"North 97th Street\",\"absoluteDirection\":\"WEST\",\"exit\":null,\"stayOn\":false,\"area\":false,\"bogusName\":false,\"lon\":-122.3553818,\"lat\":47.6996428,\"alerts\":null,\"elevation\":[]}],\"notes\":null,\"alerts\":null,\"routeShortName\":null,\"routeLongName\":null,\"boardRule\":null,\"alightRule\":null,\"rentedBike\":false,\"duration\":1237.0}],\"tooSloped\":false}]},\"error\":null,\"debug\":{\"precalculationTime\":0,\"pathCalculationTime\":40,\"pathTimes\":[9],\"renderingTime\":0,\"totalTime\":40,\"timedOut\":false}}"},"http_version":null},"recorded_at":"Thu, 05 Feb 2015 19:04:56 GMT"},{"request":{"method":"get","uri":"http://localhost:8080/otp/routers/default/plan?fromPlace=47.69969,-122.3558\u0026mode=CAR\u0026toPlace=47.6069542,-122.3052976","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json"]},"body":{"encoding":"UTF-8","string":"{\"requestParameters\":{\"fromPlace\":\"47.69969,-122.3558\",\"toPlace\":\"47.6069542,-122.3052976\",\"mode\":\"CAR\"},\"plan\":{\"date\":142316309[...]
